.owl-carousel {
    direction: ltr;
}

#owl-events.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    left: 10%;
    top: 30%;
}

#owl-events.owl-theme .owl-dots .owl-dot {
    display: block;
}

.owl-theme .owl-dots .owl-dot {
    background-color: transparent !important;
    border-color: transparent !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ffc107;
}

#owl-events .event-text h4 {
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
}
#owl-gallerySpencer{
    padding: 0 50px 50px;
}